/* Отключение масштабирования на мобильных устройствах */
html {
  touch-action: manipulation;
}

/* Отключение масштабирования на всех устройствах */
body {
  overflow: hidden;
  position: fixed;
  background-color: #f0f0f0; /* Серый цвет фона */
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 18px;
  text-align: center; /* Центрируем текст */
}
