/* styles.css */
/* Отключение масштабирования на мобильных устройствах */
html {
  touch-action: manipulation;
}

/* Отключение масштабирования на всех устройствах */
body {
  overflow: hidden;
  position: fixed;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  touch-action: manipulation; /* Отключение двойного тапа */
  background-color: #f0f0f0; /* Серый цвет фона */
}

.gray-background {
  background-color: var(--backgroundColor, #f0f0f0); /* Используем переменную backgroundColor для установки фона */
}

.container {
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Отключение выделения кнопок */
}

button:hover {
  background-color: #0056b3;
}

p {
  font-size: 18px;
  text-align: center; /* Центрируем текст */
}

/* Стили для кнопки креветок */
.shrimp-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 1s ease; /* Анимация смены цвета фона */
}

.shrimp-button:hover {
  background-color: #0056b3;
}

.shrimp-button.red {
  background-color: #dc3545;
}

/* Стили для анимации пузырьков */
@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100px);
        opacity: 0;
    }
}

.bubble {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(173, 216, 230, 0.7);
    border-radius: 50%;
    animation: bubble 2s ease-out forwards;
    pointer-events: none;
}
